<!-- footer -->

<footer class="footer-one">

    <div class="inner-footer">

        <div class="container">

            <div class="footer-top col-lg-12 col-xs-12">

                <div class="row">

                    <div class="tiva-html col-lg-4 col-md-12 col-xs-12">

                        <div class="block">

                            <div class="block-content">

                                <p class="logo-footer">

                                    <img src="../../../assets/img/home/logo.png" alt="Logo">

                                </p>

                                <p class="content-logo">
                                    We offer a curated selection of premium furniture, crafted with care and designed to enhance your home. Quality, comfort, and style are at the heart of everything we do.
                                </p>

                            </div>

                        </div>

                        <div class="block">

                            <div class="block-content">

                                <ul>

                                    <li><a href="#">About Us</a></li>

                                    <li><a href="#">Why Shop With Us</a></li>

                                    <li><a href="#">Customer Reviews</a></li>

                                    <li><a href="#">Our Team</a></li>

                                    <li><a href="#">Contact Buyers</a></li>

                                </ul>

                            </div>

                        </div>

                        <div class="block">

                            <div class="block-content">

                                <p class="img-payment">

                                    <img class="img-fluid" src="../../../assets/img/home/payment-footer.png" alt="Payment Methods">

                                </p>

                            </div>

                        </div>

                    </div>

                    <div class="tiva-html col-lg-4 col-md-6">

                        <div class="block m-top">

                            <div class="title-block">Contact Us</div>

                            <div class="block-content">

                                <div class="contact-us">

                                    <div class="title-content">

                                        <i class="fa fa-home" aria-hidden="true"></i>

                                        <span>Address :</span>

                                    </div>

                                    <div class="content-contact address-contact">

                                        <p>No. 123, Anna Salai, Salem, Tamil Nadu, India - 636001</p>

                                    </div>

                                </div>

                                <div class="contact-us">

                                    <div class="title-content">

                                        <i class="fa fa-envelope" aria-hidden="true"></i>

                                        <span>Email :</span>

                                    </div>

                                    <div class="content-contact mail-contact">

                                        <p>support@yourdomain.in</p>

                                    </div>

                                </div>

                                <div class="contact-us">

                                    <div class="title-content">

                                        <i class="fa fa-phone" aria-hidden="true"></i>

                                        <span>Hotline :</span>

                                    </div>

                                    <div class="content-contact phone-contact">

                                        <p>+91-98765-43210</p>

                                    </div>

                                </div>

                                <div class="contact-us">

                                    <div class="title-content">

                                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                                        <span>Opening Hours :</span>

                                    </div>

                                    <div class="content-contact hours-contact">

                                        <p>Monday - Saturday / 09:00 AM - 07:00 PM</p>

                                        <span>(Closed on Sundays & Public Holidays)</span>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="tiva-modules col-lg-4 col-md-6">

                        <div class="block m-top">

                            <div class="block-content">

                                <div class="title-block">Newsletter</div>

                                <div class="sub-title">
                                    Subscribe to our newsletter for the latest updates, offers, and exclusive deals straight to your inbox.
                                </div>

                                <div class="block-newsletter">

                                    <form action="#" method="post">

                                        <div class="input-group">

                                            <input type="email" class="form-control" name="email" placeholder="Enter Your Email" required>

                                            <span class="input-group-btn">

                                                <button class="effect-btn btn btn-secondary" name="submitNewsletter" type="submit">

                                                    <span>Subscribe</span>

                                                </button>

                                            </span>

                                        </div>

                                        <input type="hidden" name="action" value="0">

                                    </form>

                                </div>

                            </div>

                        </div>

                        <div class="block m-top1">

                            <div class="block-content">

                                <div class="social-content">

                                    <div class="title-block">Follow Us</div>

                                    <div id="social-block">

                                        <div class="social">

                                            <ul class="list-inline mb-0 justify-content-end">

                                                <li class="list-inline-item mb-0">

                                                    <a href="#" target="_blank">

                                                        <i class="fa fa-facebook"></i>

                                                    </a>

                                                </li>

                                                <li class="list-inline-item mb-0">

                                                    <a href="#" target="_blank">

                                                        <i class="fa fa-twitter"></i>

                                                    </a>

                                                </li>

                                                <li class="list-inline-item mb-0">

                                                    <a href="#" target="_blank">

                                                        <i class="fa fa-linkedin"></i>

                                                    </a>

                                                </li>

                                                <li class="list-inline-item mb-0">

                                                    <a href="#" target="_blank">

                                                        <i class="fa fa-instagram"></i>

                                                    </a>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="block m-top1">

                            <div class="block-content">

                                <div class="payment-content">

                                    <div class="title-block">We Accept</div>

                                    <div class="payment-image">

                                        <img class="img-fluid" src="../../../assets/img/home/payment.png" alt="Payment Methods">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div id="tiva-copyright">

        <div class="container">

            <div class="row">

                <div class="text-center col-lg-12 ">

                    <span>© 2025 Your Company Name. All Rights Reserved. Designed by

                        <a target="_blank" href="https://www.templateshub.net">Indireshvar V</a>

                    </span>

                </div>

            </div>

        </div>

    </div>

</footer>

<!-- back to top -->

<div class="back-to-top">

    <a href="#">

        <i class="fa fa-long-arrow-up"></i>

    </a>

</div>